<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Contact Us About Vulnerabilities</title>
</head>
<body>
<div class="container">
  <a th:href="@{/}">Home</a>
  <h2>Privacy Policy for Blog Community Web Application</h2>
  <p>We value your privacy and are committed to protecting your personal information.</p>
  <p>This Privacy Policy outlines how we collect, use, and safeguard your data when you use the Blog Application.</p>

  <h3>1. Collected Information:</h3>
  <p>We collect information that you voluntarily provide while using the Blog Application. This may include personal details such as your name and email address.</p>

  <h3>2. Use of Information:</h3>
  <p>We use the collected information to provide and improve the Blog Application. It may also be used for communication purposes and to fulfill our legal obligations.</p>

  <h3>3. Sharing of Information:</h3>
  <p>We do not share your personal information with third parties without your consent, except when required by law or to protect our rights.</p>

  <h3>4. Security:</h3>
  <p>We implement appropriate technical and organizational measures to protect your personal information from unauthorized access, use, or disclosure.</p>

  <h3>5. User Rights:</h3>
  <p>You have the right to request access to, correction, or deletion of your personal information. You can also object to the processing or restrict its use.</p>

  <h3>6. Cookies and Similar Technologies:</h3>
  <p>We may use cookies or similar technologies to enhance your user experience. You can adjust your settings to manage these.</p>

  <h3>7. Changes to the Policy:</h3>
  <p>We may update this privacy policy over time. We will notify you of significant changes and provide an opportunity to review and accept these modifications.</p>

  <h3>8. Contact Information:</h3>
  <p>If you have any questions about our privacy policy, please contact us at <a href="mailto:security@example.com">security@example.com</a>.</p>

  <p>By using the Blog Application, you consent to this privacy policy.</p>
</div>
</body>
</html>
