<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <a th:href="@{'/'}"> Home</a>
    <div class="row">
        <div class="post">
            <h2 th:text="${post.title}">Title</h2>
            <h5 th:text="'Published by ' + ${post.account.userName}">Account Username</h5>
            <h5 th:text="'Published ' + ${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}">Created</h5>
            <p th:text="${post.body}">Body</p>
        </div>
    </div>
    <ul sec:authorize="hasRole('ROLE_ADMIN')">
        <li><a th:href="@{'/posts/' + ${post.id} + '/edit'}">Edit</a></li>
        <li><a th:href="@{'/posts/' + ${post.id} + '/delete'}">Delete</a></li>
    </ul>
</div>
</body>
</html>